.App {
  text-align: center;
  background-color: #4e5666;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 200px;
  height: 300px;

  border: 2px solid white;
  border-radius: 10px;

  background-color: antiquewhite;
  color: black;
}
